.carrossel-conteiner{
    max-width: 1920;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img{
    width: 100%;
}

.carrosel{
    display: flex;
    transition: transform 1s ease-in-out;
}

.carrossel-conteiner>button{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 50%;
}

.carrossel-conteiner>button.anterior{
    left: 10px;
}

.carrossel-conteiner>button.proximo{
    right: 10px;
}